<div id="tabstrip">
<ul>
<li class="k-state-active">Settings</li>
<li>About</li>
</ul>
<div>
<form method="post" action="settings">
<div style="overflow: hidden; margin-bottom: 3px;">Style:
<span style="float: right;">
<select name="param[theme]">
<option {% if param.theme == "black" %}selected{% endif %}>black</option>
<option {% if param.theme == "blueopal" %}selected{% endif %}>blueopal</option>
<option {% if param.theme == "bootstrap" %}selected{% endif %}>bootstrap</option>
<option {% if param.theme == "default" %}selected{% endif %}>default</option>
<option {% if param.theme == "highcontrast" %}selected{% endif %}>highcontrast</option>
<option {% if param.theme == "metroblack" %}selected{% endif %}>metroblack</option>
<option {% if param.theme == "metro" %}selected{% endif %}>metro</option>
<option {% if param.theme == "moonlight" %}selected{% endif %}>moonlight</option>
<option {% if param.theme == "rtl" %}selected{% endif %}>rtl</option>
<option {% if param.theme == "silver" %}selected{% endif %}>silver</option>
<option {% if param.theme == "uniform" %}selected{% endif %}>uniform</option>
</select>
</span>
</div>
<div style="overflow: hidden; margin-bottom: 3px;">
Preview width: <span style="float: right;"><input type="text" name="param[pre_width]" value="{{ param.pre_width }}"></span>
</div>
    <div style="overflow: hidden; margin-bottom: 3px;">
Preview height: <span style="float: right;"><input type="text" name="param[pre_height]" value="{{ param.pre_height }}"></span>
</div>
<div style="overflow: hidden; margin-bottom: 3px;">
Preview quality: <span style="float: right;"><input type="text" name="param[quality]" value="{{ param.quality }}"></span>
</div>
<div style="overflow: hidden; margin-bottom: 3px;">
Preview background: <span style="float: right;"><input type="text" name="param[rgb]" value="{{ param.rgb }}"></span>
</div>
<div style="overflow: hidden; margin-bottom: 3px;">
<a style="cursor: pointer;" class="k-button" onclick="$.ajax({type: 'POST', url: 'clear', success: function() { location.reload(); }});">Clear session</a>
</div>
<div style="overflow: hidden; margin-top: 10px;">
<input type="submit" name="submit" value="Save" class="k-button" style="float: right;" />
</div>
</form>
</div>

<div>
<div>
    <h4>File manager </h4>

    <p>File manager (Silex + Kendo UI)</p>

    <p>Github: <a href="https://github.com/Zazza/fm-silex-kendo">https://github.com/Zazza/fm-silex-kendo</a></p>

    <p>evelop: <a href="http://tushkan.com">http://tushkan.com</a></p>

</div>
</div>
</div>